In [1]:

import pandas as pd

In [4]:

df = pd.read_csv('data/air_quality_data/nyc.csv', 
                 parse_dates=['date'],
                index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6317 entries, 1999-07-01 to 2017-03-31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ozone   6317 non-null   float64
 1   pm25    6317 non-null   float64
 2   co      6317 non-null   float64
dtypes: float64(3)
memory usage: 197.4 KB

In [5]:

# Select dates using search string
df.loc['2014'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 364 entries, 2014-01-01 to 2014-12-31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ozone   364 non-null    float64
 1   pm25    364 non-null    float64
 2   co      364 non-null    float64
dtypes: float64(3)
memory usage: 11.4 KB

In [6]:

# Select dates in a given range (inclusive of cut-off date)
df.loc['2014-03':'2014-09'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 214 entries, 2014-03-01 to 2014-09-30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ozone   214 non-null    float64
 1   pm25    214 non-null    float64
 2   co      214 non-null    float64
dtypes: float64(3)
memory usage: 6.7 KB

In [7]:

# Select specific date's value
df.loc['2014-03-01', 'co']

0.3796388333333334