In [1]:

import pandas as pd

In [2]:

# Expanding windows calculate metrics for periods up to the cirrent date
#Â such that the new time series reflects ALL historical values
# Useful for computing cumulative returns, running min/max
df = pd.DataFrame({'data': range(5)})
df.head()

   data
0     0
1     1
2     2
3     3
4     4

In [4]:
df['expanding_sum'] = df['data'].expanding().sum() # can use expanding() or rolling() for expanding window functions
df['cumulative_sum'] = df['data'].cumsum() # can also use cumsum(), cumprod() etc
df.head()

   data  expanding_sum  cumulative_sum
0     0            0.0               0
1     1            1.0               1
2     2            3.0               3
3     3            6.0               6
4     4           10.0              10